{% extends 'base.html' %}
{% block content %}

<h3>Add Product</h3>
<form method="POST">
    <input name="name" class="form-control mb-2" placeholder="Product Name" required>
    <input name="quantity" type="number" class="form-control mb-2" placeholder="Quantity" required>
    <input name="price" type="number" step="0.01" class="form-control mb-2" placeholder="Price" required>
    <input name="category" class="form-control mb-2" placeholder="Category" required>
    <button class="btn btn-success">Add Product</button>
</form>

{% endblock %}
