{% extends 'base.html' %}
{% block content %}

<h3>Update Product</h3>
<form method="POST">
    <input name="name" value="{{product.name}}" class="form-control mb-2">
    <input name="quantity" type="number" value="{{product.quantity}}" class="form-control mb-2">
    <input name="price" type="number" step="0.01" value="{{product.price}}" class="form-control mb-2">
    <input name="category" value="{{product.category}}" class="form-control mb-2">
    <button class="btn btn-primary">Update</button>
</form>

{% endblock %}
