body{
    font-family: Arial;
    background:#f4f6f9;
    text-align:center;
}

.container{
    width:400px;
    margin:auto;
    margin-top:80px;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px gray;
}

input, textarea{
    width:90%;
    padding:10px;
    margin:10px;
}

button{
    padding:10px 20px;
    background:#007bff;
    color:white;
    border:none;
    border-radius:5px;
}

a{
    text-decoration:none;
    color:#007bff;
}
